/* .all-spots-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    padding: 5%;
    border: 1px black solid;
    justify-content: center;
} */
/* #spot-buttons{
    background-color: white;
    border: none;
    height: 400px;
    display: flex;
    border: 1px solid hotpink;
} */
/* img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
} */
#all-spots-images{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

/* .under-pic-elements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
} */

#price-div{
    margin-left: 3%;
    color: black
}
#preview-image-div{
    height: 300px;
    width: 320px;
}

.landing-page-container{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    align-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* .right-landing-page-container{
    margin-top: -16px;
}
.left-landing-page-container{
    margin-right: 48%;
    padding-right: 500px;
} */
.all-spots{
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    padding: 5%;
    /* border: 1px black solid; */
    /* justify-content: center; */
    width: 50%;
    /* justify-content: flex-end; */
    /* margin-right: 850px; */
    /* margin-left: 50px; */
    color: black;
    height: 565px;
    overflow-y: scroll;
    margin-left: 41.7%;
    margin-right: 80px;
    margin-top: -30px;
}

::-webkit-scrollbar{
    margin-right: 100px;
}
