ul.spot-stats-ul > li {
    display: inline-block;
}

.one-spot-name{
    /* margin-left: 20%; */
}

.one-spot-stats{
    /* margin-left: 18%; */
}

.above-picture-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
}

#img-div{
    /* height: 400px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:auto;
    margin-right:auto; */
    /* max-width: 50%;
    max-height: 100%px; */
    /* max-height: 400px; */
    /* margin-left: 20%; */
    width: 60%;
    height: 500px;
    /* margin-left: 20%; */
    display: flex;
    flex-direction: row;
}

#one-allSpotsOBJ-image{
    width: 45%;
}

.first-image-upload-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.second-image-upload-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.second-image-upload-container{
    height: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#actual-text-div{
    font-size: 12px;
    /* margin-left: 20.5%; */
}

.button-div-container{
    display: flex;
    /* margin-left: 85%;
    margin-right: 5%; */
    /* height: 150px; */
    /* box-shadow: 12px 12px 2px 1px black; */
    flex-direction: row;
}
.card-button-div-container{
    display: flex;
}
.actual-button-container{
    display: flex;
    flex-direction: row;
}
.edit-delete-button{
    /* width: 15%; */
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    border-radius: 8px;
}

.review-button-div{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.add-review-button{
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    border-radius: 8px;
}

.review-container-div{
    /* box-shadow: 2px 2px 2px 2px black; */
    width: 60%;
    border-radius: 8px;
}
.center-review-box{
    display: flex;
    justify-content: center;
}
.single-review-container{
    /* margin-top: 3%; */
    /* margin-left: 3%; */
}
/* #actual-text-div > h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9%;
}
#actual-text-div > h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45%;
} */
/* .button-div-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */
/* #img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-spot-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 42%;
    height: 40px;
}
.one-spot-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 28%;
}
#under-picture-text > .button-div-container{
    display: flex;
    flex-direction: column;
    color: rebeccapurple;
} */
.entire-one-spot-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-spot-stats{
    margin-left: -40px;
}
.stars-button{
    background: none;
    width: fit-content;
    border: none;
    cursor: pointer;
}

#one-spot-star{
    font-size: 18px;
}
body{
    color: black;
}
.book-spot-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #717171;
    padding-bottom: 100px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    position: sticky;
    margin-top: -1020px;
    top: 100px;
    left: 55.5%;
    /* left: 830px; */
    box-shadow: #717171 2px 2px 2px;
}
