ul.spot-stats-ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
}

#one-allSpotsOBJ-image{
    width: 75%;
    height: auto;
}

.one-spot-name{
    margin-left: 20%;
}

.one-spot-stats{
    margin-left: 18%;
}

.above-picture-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
}

#img-div{
    /* height: 400px; */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left:auto;
    margin-right:auto; */
    margin-left: 20%;
}

#actual-text-div{
    font-size: 12px;
    margin-left: 20.5%;
}

.button-div-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 1px black solid;
    /* width: max-content; */
    margin-left: 85%;
    height: 150px;
    box-shadow: 12px 12px 2px 1px black;
}

.edit-delete-button{
    /* width: 15%; */
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    /* border-radius: 8px; */
}
.extra-info-div{
    margin-left: 18.5%;
}

.review-button-div{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.add-review-button{
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    border-radius: 8px;
}

.review-container-div{
    width: 50%;
}
.center-review-box{
    display: flex;
    justify-content: center;
}
/* #actual-text-div > h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9%;
}
#actual-text-div > h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45%;
} */
/* .button-div-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */
/* #img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one-spot-name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 42%;
    height: 40px;
}
.one-spot-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 28%;
}
#under-picture-text > .button-div-container{
    display: flex;
    flex-direction: column;
    color: rebeccapurple;
} */
/* .entire-one-spot-div{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
