.signup-form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.user-signup-input {
    margin-bottom: 10px;
    width: 1%;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
}

#below-input-text{
    color: gray;
    font-size: 12px;
    font-weight: 400;
}

.signup-submit{
    width: 65%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    border-radius: 8px;
}
