/* .login-signup-button{
    display: flex;
    justify-content: flex-end;
}
.log-out-create-spot-div{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-bottom: 0.5%;
}
.become-host-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 14px;
}
.become-host-link:hover{
    border: 1px black solid;
    border-radius: 22px;
    background: #B9B9B9;

}
.profile-button-div{
    padding-right: 5%;
}
.nav-ul{
    border-bottom: 1px #ebebeb solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-signup-button-li{
    padding-right: 2%;
    padding-bottom: 2%;
} */
.nav-ul{
    border-bottom: 1px #ebebeb solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    position: sticky;
    height: 50px;
    top: 0px;
    background-color: #ffffff;
    padding-bottom: 15px;
}
ul.profile-dropdown{
    position: absolute;
    padding: 0;
    border: 1px black solid;
    box-shadow: 12px 12px 2px 1px black;
    background-color: white;
    width: 100px;
    border-radius: 5px;
}

ul.profile-dropdown > li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-bottom: 10%;
}
.login-signup-button-li{
    margin-right: 8%;
    display: flex;
    align-items: center;
}
.login-button{
    width: 100%;
}
/* .fa-solid{
} */
#user-icon{
    font-size: 23px;
    margin-left: 12px;
}
#grip-lines-icon{
    font-size: 23px;
}
#grip-line-icon{
    margin-top: 25%;
}
.home-nav-link{
    background-image: url(https://i.imgur.com/B8OhOFJ.png);
    height: 60px;
    width: 60px;
    display: block;
    margin-top: -10px;
}
.log-out-create-spot-div{
    /* border: 1px hotpink solid; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: -60px;
}
.become-host-link{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
}
.become-host-link:hover{
    border: 1px black solid;
    border-radius: 22px;
    background: #B9B9B9;

}
.log-out-button{
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-top: 5%;
    background-color: #d60565;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}
.profile-button{
    border-radius: 10px;
    border: none;
    width: 100px;
    height: 25px;
}
