* {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif
}

.login-button-container{
    display: flex;
    flex-direction: column;
}

.login-form {
    /* display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 15%;
    padding-bottom: 25px;
    width: 100%;
    padding-top: 25px;
    background-color: white;
    border-radius: 25px;
    height: 40%;
    width: 500px; */
    padding-top: 25px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    height: 40%;
    margin-top: 150px;
    overflow-y: scroll;
}

.error{
    border-color: red;
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    margin-left: 4%;
    border-radius: 8px;
}
.log-in-error{
    border-color: red;
    margin-bottom: 10px;
    width: 65%;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
}
#log-in-error-list{
    padding-bottom: 10px;
    color: red;
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    /* padding-left: 5%; */
}
.user-input{
    margin-bottom: 10px;
    width: 285px;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px;
}

#error-list{
    padding-bottom: 10px;
    color: red;
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5%;
}
#error-login{
    color: red;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;
    /* border: 2px black solid; */
}

.user-submit{
    height: 40px;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d60565;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.demo-user-button{
    color: white;
    background-color: #d60565;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

#welcome-head{
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #222222;
}

.login-button{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-bottom: 1.5%; */
}

.modal-button{
  /* background-color: #f1f1f1; */
    display: flex;
    width: 80px;
    color: black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 5%;
    margin-bottom: 15%;
    border: none;
    text-decoration: none;
}

.selection-div:hover{
    background-color: rgb(247, 247, 247);
}

.dropdown-btn{
    border-radius: 100px;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 7px;
    width: 80px;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.user-icon{
    color: #717171;
}

.user-button{
    display: flex;
    flex-direction: column;
    /* background-color: lightgray; */
    position: relative;
    width: 80px;
}

/* ul.profile-dropdown{
    position: absolute;
    padding: 0;
    border: 1px black solid;
    box-shadow: 12px 12px 2px 1px black;
}

ul.profile-dropdown > li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-bottom: 10%;
} */
